<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>
  <hr>

  <div id="app1">
    {{ message }}
    <br />
    <input type="text" v-model="message">
    <pre>{{$data}}</pre>
  </div>
  <hr>

  <div id="app2">
    <template v-show="connect">{{ message }}</template>

    <h2 v-if="edad<18">No puedes entrar</h2>
    <h2 v-else-if="edad>=18">Puedes entrar</h2>
    <h2 v-else-if="edad>200">Eres inmortal</h2>

    <pre>{{$data}}</pre>
  </div>
  <hr>

  <div id="app3">
    {{message}}
    <br />
    
    Matrix
    <ul>
      <li v-for="d in days">{{d}}</li>
    </ul>
    Collection (object's matrix)
    <ul>
      <li v-for="(t,index) in tasks">
        {{index+1}}.- {{t.name}}
        <small>{{t.priority}}</small>
      </li>
    </ul>
    Object
    <ul>
      <li v-for="(key,value,index) in person">
        {{index+1}}.- {{key}}: {{value}}
      </li>
    </ul>

    <pre>{{$data}}</pre>
  </div>
  <hr>


  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
  </script>

  <script>
    var app1 = new Vue({
      el: '#app1',
      data: {
        message: 'Hello v-model!'
      }
    })
  </script>

  <script>
    var app2 = new Vue({
      el: '#app2',
      data: {
        message: 'Hello v-show v-if!',
        connect: true,
        edad: 18
      }
    })
  </script>

<script>
  var app3 = new Vue({
    el: '#app3',
    data: {
      message: 'Hello v-for!',
      days: ['Monday','Tuesday','Wednesday','Thursday','Friday'],
      tasks: [
        {name:'Sleep', priority:'high'},
        {name: 'Go shopping', priority:'medium'},
        {name: 'Study', priority: 'high'}
      ],
      person:{
        name: 'Eugenio',
        profession: 'technician',
        age: '37'
      }
    }
  })
</script>

</body>
</html>
